body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
    /* background: linear-gradient(to bottom right, #ed9fd7, #a6c1ee); */
    background-image: url('/rose2.avif');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}